
.Dictionary section {
    padding: 50px;
    border-radius: 20px;
    outline: 2px solid var(--secondary-color);
    outline-offset: -10px;
    background-color: var(--tertiary-color);
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);   
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 850px;
}

.Dictionary .search {
    margin: auto;
    width: 50%;
    height: 40px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    background-color: var(--accent-color);
    padding-left: 10px;
}

.Dictionary .search-button {
    height: 40px;
    border: 2px solid var(--secondary-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    margin-left: 8px;
    color: var(--accent-color);
    text-decoration: none;
    transition: all 150ms ease-in-out;
    font-size: 15px;
    padding: 8px 20px;
  }

.Dictionary .search-button:hover {
    border: 2px solid  var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--accent-color);
  }

.Dictionary .suggestions {
    margin-top: 10px;
    font-size: 12px;
}

.Dictionary .subheading {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: lowercase;
}