:root {
    --primary-font-family: "poppins", sans-serif;
    --primary-font-color: #253239;
    --primary-color: #90B292 ;
    --secondary-color: #253239;
    --tertiary-color: #CED6CA;
    --accent-color: #F0F0F0;
}

body {
    background: #F0F0F0;
    height: 100%;
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
}