.Phonetic a {
    text-decoration: none;
    margin-right: 15px;
    
}

.Phonetic .text {
    opacity: 0.5;
    font-size: 25px;
    line-height: 1.5;
}

.Phonetic .icon {
    font-size: 23px;
    color: var(--secondary-color);
}
.Phonetic .icon:hover {
    color: var(--primary-color);
}